/* Color Variables */
:root {
  --primary-color: #4C77F5;
  --heading-text-color: #292929;
  --body-text-color: #A7A7A7;
  --input-text-color: #C4C4C4;
  --border-color: #C4C4C4;
}

/* Reset */
body {
  margin: 0;
  font-family: sans-serif;
  color: var(--body-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
